:root {
  --primario: #4a96d0;
  --secundario: #051626;
  --textosGnral: #465467;
  --fuentePrincipal: "Poppins", sans-serif;
}

html {
  box-sizing: border-box;
  font-family: var(--fuentePrincipal);
  color: var(--textosGnral);
  font-size: 14px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fuentePrincipal);
  color: #051626;
}

a {
  text-decoration: none;
}
